/**
 * Float Layout Activity
 **/

* {
  box-sizing: border-box;
  text-align: center;
}

body {
}

header {
  padding: 20px;
  margin-bottom: 20px;
  color: #333;
  background: #ccc;
}

section {
}

#left {
	padding: 20px;
    margin-bottom: 20px;
	float: left;
	background: #666;
	width: 33%;
}

#middle {
	padding: 20px;
    margin-bottom: 20px;
	float: left;
	width: 33%
	background: #888;
}

#right {
	padding: 20px;
    margin-bottom: 20px;
	float: right;
	width: 33%;
	background: #666;
}

#full {
	clear: both;
	width: 100%;
}

#division {
}

aside {
	float: left;
	padding: 20px;
    margin-bottom: 20px;
	float: left;
	width: 33%;
	height: 33%;
	background: #fff;
	border: 3px solid blue;
}

footer {
}
